@import url('https://fonts.googleapis.com/css2?family=Geologica');

.alert-message {
    z-index: 1;
    position: sticky;
    text-align: center;
    font-family: Geologica;
}

.error {
    background-color: rgb(226, 107, 107);
}
.alert {
    background-color: rgb(222, 231, 90);
}
.success {
    background-color: rgb(164, 253, 104);
}